.contactFormComponent form {
	padding: 0 20px;
	width: 30%;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 30px;
}
.contactFormComponent .inputDiv {
	display: flex;
	flex-direction: column;
}
.contactFormComponent .inputDiv.message textarea {
	height: 200px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
.contactFormComponent input,
.contactFormComponent textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 10px;
	border: none;
	background-color: #ccf2ff;
	outline-color: #61c0f4;
	font-size: 16px;
}

.contactFormComponent label {
	font-size: 0;
	color: transparent;
}
.contactFormComponent {
	margin-top: 180px;
}
.contactFormComponent button {
	background-color: #e55943;
	border: none;
	padding: 15px;
	font-size: 19px;
	color: #fff;
	width: 150px;
	align-self: end;
	position: relative;
}

.footer {
	position: absolute;
	height: 180px;
	width: 100%;
	bottom: 0;
	display: flex;
	flex-direction: column;
	color: #fff;
}
.detailsContainer {
	width: 80%;
	display: flex;
	margin: 0 auto;
	gap: 20px;
}

.footer .bottomFooter .detailsContainer {
	justify-content: space-between;
	align-items: center;
}
.footer .topFooter .detailsContainer {
	align-items: center;
	justify-content: center;
}
.footer .bottomFooter {
	background-color: #73bd96;
	height: 50%;
	display: flex;
	justify-content: space-between;
}
.footer .topFooter {
	background-color: #61c0f4;
	height: 50%;
	display: flex;
}
.scrollDiv9 .adiContainerDiv {
	z-index: 1;
}
.scrollDiv9 .adiContainerDiv .habDiv {
	bottom: 24vh;
	width: 18vw;
	left: 72vw;
	transition: 1.5s ease;
}
.contactTextDiv {
	position: absolute;
	left: 0;
	width: 28vw;
	top: 0;
	color: white;
}
.contactTextDiv h1 {
	font-size: 40px;
	margin: 0 0 30px;
	line-height: 1em;
	padding-right: 10%;
}
.contactTextDiv p {
	font-size: 24px;
	padding-right: 10%;
}
.contactContainer {
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.socialIcon.linkedInIcon {
	width: 40px;
	aspect-ratio: 1;
	font-size: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #61c0f4;
	background-color: white;
	border-radius: 50%;
}
.socialIcon {
	vertical-align: top;
	display: flex;
	font-size: 40px;
	color: #fff;
}
.detailsContainer a.details {
	color: white;
	text-decoration: none;
}
button {
	cursor: pointer;
}

.scrollDiv9 img.cloudRight {
	right: -100vw;
	transition: 2s all ease-in-out;
}

.scrollDiv9 img.cloudLeft {
	left: -130vw;
	transition: 2s all ease-in-out;
}
.level9Div {
	animation: fadeAnimation 1s ease;
}
.fwDiv {
	animation: fadeAnimation 2.2s ease 3s reverse;
}

@keyframes fadeAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 1367px) {
	.contactFormComponent {
		margin-top: 150px;
	}
	.contactFormComponent form {
		gap: 18px;
	}
	.contactFormComponent .inputDiv.message textarea {
		height: 160px;
	}
	.scrollDiv9 .adiContainerDiv .habDiv {
		bottom: 30vh;
	}
}

@media screen and (max-width: 1280px) {
	.scrollDiv9 .adiContainerDiv .habDiv {
		bottom: 33vh;
	}
}

@media screen and (max-width: 414px) {
	.level9 img.cloudRight {
		right: -90vw;
		top: 54vh;
	}
	.level9 img.cloudLeft {
		height: 83vh;
		left: -72vw;
		top: 53vh;
	}
	.scrollDiv9 img.cloudLeft {
		left: -300vw;
	}
	.scrollDiv9 img.cloudRight {
		right: -300vw;
	}
	.contactFormComponent {
		margin-top: 0;
	}
	.contactContainer {
		padding-top: 100px;
	}
	.contactTextDiv {
		position: unset;
		width: 88%;
	}
	.contactFormComponent form {
		gap: 16px;
		width: 100%;
		padding: 0;
		margin: 26px auto 0;
	}
	.contactTextDiv h1 {
		font-size: 28px;
		margin: 0;
		padding-right: 0;
	}
	.contactTextDiv p {
		font-size: 16px;
		padding-right: 0;
		margin: 8px auto 36px;
	}
	.contactFormComponent input,
	.contactFormComponent textarea {
		padding: 10px 8px;
		font-size: 14px;
	}
	.contactFormComponent .inputDiv.message textarea {
		height: 80px;
	}
	.contactFormComponent button {
		padding: 12px;
		font-size: 18px;
		width: 120px;
	}
	.scrollDiv9 .adiContainerDiv .habDiv {
		bottom: unset !important;
		left: 77vw;
		top: 100px;
	}
	.footer {
		height: 120px;
	}
	.footer .bottomFooter .detailsContainer {
		font-size: 11px;
	}
	.socialIcon {
		font-size: 30px;
	}
	.socialIcon.linkedInIcon {
		width: 30px;
		font-size: 18px;
	}
}
