.each-slide-effect > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 350px;
}

.each-slide-effect span {
	padding: 20px;
	font-size: 20px;
	background: #efefef;
	text-align: center;
}
.inSlide {
	padding: 50px 40px 70px;
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.slideDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.leftSlideDiv {
	width: 30%;
	align-items: end;
}
.rightSlideDiv {
	width: 56%;
}
img.companyLogo {
	width: 75%;
	margin-top: 20px;
}

img.companyLogo1 {
	width: 40%;
}
img.companyLogo2 {
	width: 56%;
}

h2.CVyears {
	font-size: 70px;
	margin: 0;
	font-weight: 900;
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}
h2.companyTitle {
	margin: 0;
	font-size: 44px;
	margin-bottom: 20px;
}
ul.companyUl {
	margin: 0;
	padding: 0;
	text-align: justify;
}
.companyUl li {
	display: inline;
	font-size: 18px;
	line-height: 1.5em;
}
.companyUl li .starIcon {
	font-size: 11px;
	margin: 0 10px;
	vertical-align: middle;
}
@media screen and (max-width: 1537px) {
	h2.CVyears {
		font-size: 52px;
	}
}

@media screen and (max-width: 1367px) {
	.inSlide {
		padding: 50px 20px 30px;
		justify-content: space-between;
		width: calc(90% - 34px);
	}
	.leftSlideDiv {
		width: 36%;
	}
	.rightSlideDiv {
		width: 58%;
	}
	h2.CVyears {
		font-size: 58px;
	}
}

@media screen and (max-width: 1280px) {
	h2.CVyears {
		font-size: 50px;
	}
	.rightSlideDiv {
		width: 60%;
	}
	.leftSlideDiv {
		width: 32%;
	}
}

@media screen and (max-width: 1080px) {
	.inSlide {
		padding: 20px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	.inSlide div {
		width: 100%;
	}
	.inSlide .leftSlideDiv {
		width: 100%;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	img.companyLogo {
		width: 18%;
		margin: 10px auto 16px;
	}
	h2.CVyears {
		font-size: 40px;
	}
	h2.companyTitle {
		font-size: 40px;
		margin-bottom: 16px;
	}
	ul.companyUl {
		text-align: center;
	}
}

@media screen and (max-width: 414px) {
	h2.CVyears {
		font-size: 26px;
	}
	img.companyLogo {
		width: 24%;
		margin: 8px auto 12px;
	}
	.companyUl li {
		font-size: 13px;
	}
	h2.companyTitle {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.sliderDiv .indicators {
		margin-top: 8px !important;
	}
	.sliderDiv .ribbonTitle {
		top: -8%;
	}
	.sliderDiv {
		top: 18vh;
	}
	.closeSlider {
		top: -7%;
	}
}
