.adiParatrooper {
	position: absolute;
	left: 35vw;
	top: 240vh;
	height: auto;
	width: 50vw;
	transform: rotateY(180deg);
}
.adiParatrooper {
	display: block;
	z-index: 9999;
	/* min-height: 500px; */
	animation: adiDrivePilotParatrooper 1.2s ease-out;
}
.adiParatrooper .pilot {
	position: relative;
	animation: beforePilotLeaveParatrooper 1.4s ease-in;
	top: 0;
	width: 45%;
}
.adiParatrooper .pilotDiv {
	width: 100%;
	position: relative;
}
.adiParatrooper .propelor {
	left: -6px;
	width: 92px;
	top: 23px;
	animation: propelor 0.8s linear infinite;
	position: absolute;
	z-index: 100;
}

.adiParatrooper .pilot .pilotImg {
	width: 240px;
	left: 0;
	z-index: 99;
	position: absolute;
	top: -56px;
	transform: rotateY(180deg);
	animation: planeAnimation 1s ease-in-out infinite;
	display: inline-block;
}
.paratrooperClicked .pilot .pilotImg.pilotDriverImg {
	display: none;
}

.adiParatrooper .pilot .pilotImg.pilotDriverImg {
	height: 122px;
	left: -74px;
	top: -67px;
}
.adiParatrooper .rope {
	width: calc(100% - 240px);
	background-color: white;
	height: 4px;
	right: 24px;
	position: absolute;
	top: 65px;
	border-radius: 26px;
	color: white;
}
.adiParatrooper .rope::after {
	content: '<';
	position: absolute;
	right: -25px;
	line-height: 1em;
	font-size: 54px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	height: 40px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
	top: -18px;
	font-family: arial;
}
.adiParatrooper .title.pilotTitle {
	position: absolute;

	top: 0;
	color: white;
	width: 55%;
	height: auto;
	right: 0;
	margin: 0;
	outline: 6px solid white;
	transform: rotateY(180deg);
	cursor: pointer;
	animation: titleAnimation 1.2s ease-in-out 1.5s infinite;
}

.adiParatrooper .pilotTitle h2 {
	padding: 14px 0 20px;
	font-size: 72px;
	margin: 0;
	text-align: center;
	font-weight: 900;
}
.adiParatrooper .changingPicImg img {
	width: auto;
	height: 100%;
}
.adiParatrooper .changingPicImg {
	height: 100%;
}

@keyframes adiDrivePilotParatrooper {
	0% {
		left: -30vw;
	}

	100% {
		left: 35vw;
	}
}

@keyframes titleAnimation {
	0% {
		transform: rotateY(180deg) skewX(2deg);
		outline-color: white;
	}
	25% {
		transform: rotateY(180deg) skewX(-1deg);
	}
	35% {
		transform: rotateY(180deg) skewY(1deg);
	}
	50% {
		outline-color: white;
	}
	51% {
		transform: rotateY(180deg) skewX(0);

		outline-color: rgb(250, 250, 134);
		box-shadow: 0px 0px 16px 8px rgb(255 255 155 / 60%);
	}
	100% {
		transform: rotateY(180deg) skewX(0);

		outline-color: rgb(250, 250, 134);
		box-shadow: 0px 0px 13px 6px rgb(255 255 125 / 60%);
	}
}

@keyframes propelor {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes pilotLeaveParatrooper {
	0% {
		width: 45%;
		left: 0;
		opacity: 1;
	}
	70% {
		opacity: 1;
		width: 72.5vw;
		left: -50vw;
	}
	100% {
		width: 72.5vw;
		left: -50vw;
		opacity: 0;
	}
}
@keyframes beforePilotLeaveParatrooper {
	0% {
		left: 0;
		opacity: 1;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}
@keyframes planeAnimation {
	0% {
		transform: rotateY(180deg) skewX(0);
	}
	25% {
		transform: rotateY(180deg) skewX(1deg);
	}
	50% {
		transform: rotateY(180deg) skewY(-1deg);
	}
	75% {
		transform: rotateY(180deg) skewX(1deg);
	}
	100% {
		transform: rotateY(180deg) skewX(0);
	}
}

@media screen and (max-width: 1080px) {
	.adiParatrooper .pilotTitle h2 {
		padding: 6px 10px 10px;
		font-size: 50px;
	}
	.adiParatrooper .pilot .pilotImg {
		width: 150px;
	}
	.adiParatrooper .propelor {
		left: 2px;
		width: 48px;
		top: -2px;
	}
	.adiParatrooper .pilot .pilotImg.pilotDriverImg {
		height: 82px;
		left: 51px;
		top: -68px;
		width: 53px;
	}
	.adiParatrooper .pilot {
		top: 20px;
	}
	.adiParatrooper .rope {
		width: calc(100% - 150px);

		right: 24px;
		position: absolute;
		top: 22px;
	}
}
@media screen and (max-width: 1080px) {
	.adiParatrooper {
		top: 220vh;
	}
}

@media screen and (max-width: 414px) {
	.adiParatrooper {
		top: 205vh;
		width: 84vw;
		left: 30vw;
		animation: adiDrivePilotParatrooper2 1.2s ease-out;
	}
	@keyframes adiDrivePilotParatrooper2 {
		0% {
			left: -30vw;
		}

		100% {
			left: 30vw;
		}
	}
	.adiParatrooper .pilot {
		width: 52%;
	}
	.adiParatrooper .title.pilotTitle {
		width: 48%;
	}
	.adiParatrooper .pilotTitle h2 {
		padding: 6px 6px 8px;
		font-size: 30px;
	}
	.adiParatrooper .pilot {
		top: 4px;
	}

	.adiParatrooper .pilot .pilotImg.pilotDriverImg {
		height: 70px;
		left: 44px;
		top: -54px;
		width: 46px;
	}
	.adiParatrooper .pilot .pilotImg {
		width: 130px;
		top: -44px;
	}
	.adiParatrooper .propelor {
		left: 2px;
		width: 42px;
		top: 3px;
	}
	.adiParatrooper .rope {
		width: calc(100% - 130px);
	}
	.adiParatrooper .changingPicImg {
		height: 100%;
	}
	.adiParatrooper .changingPicImg img {
		width: auto;
		height: 100%;
	}
}
