@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.App {
	text-align: center;
	position: relative;
	top: 0;
	font-family: 'Roboto', sans-serif;
}

.scrollDiv {
	/* overflow-x: hidden; */
	display: flex;
	background-color: #6ad8fe;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.noTransition .inScrollDiv {
	transition: none !important;
}
.inScrollDiv {
	width: 2500vw;
	height: 500vh;
	transition: 0.2s linear;

	top: 0;
	position: fixed;
}

.scrollDiv5 .inScrollDiv,
.scrollDiv4 .inScrollDiv {
	transition: 1s linear;
}
.inScrollDiv.goDown {
	transition: 3s all ease-in-out;
}
.adiContainerDiv {
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	left: 0;
	z-index: 9999;
}
.adiContainerDiv:focus {
	outline: none;
}
.goDown .adiContainerDiv {
	z-index: 99999;
}
.adiImageDiv {
	position: absolute;
	width: auto;
	height: 300px;
	left: 45%;
	bottom: 20px;
	aspect-ratio: 0.34;
}
.adiImageDiv.notGoDown.walking {
	bottom: 10px;
	height: 320px;
}
.adiImageDiv.notGoDown::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	border-radius: 50%;
	height: 7%;
	background-color: #000;
	z-index: -1;
	filter: blur(4px);
	opacity: 0.4;
}
.adiImageDiv.notGoDown.walking::after {
	content: '';
	left: 25%;
	bottom: 8px;
}
.adiContainerDiv .adiImageDiv,
.adiContainerDiv .adiImageDiv img {
	transition: none !important;
	transition-duration: 0 !important;
}
.adiContainerDiv .adiImageDiv img {
	position: absolute;
	left: auto;
	bottom: 0;
	height: 100%;
	display: block;
}
.scrollDiv2 .adiContainerDiv .adiImageDiv img {
	animation: fadingAnimation 1s linear 1.5s;
}

.adiImageDiv.goDownPic {
	animation: goDownAnimation 2.8s linear;

	height: 500px;
	left: calc(45% - 182px);
	bottom: 10px;
	z-index: 9999;

	/* position: fixed; */
}
.adiImageDiv.goDownPic,
.adiImageDiv.goDownPic img,
.adiImageDiv.goDownPic *,
.adiImageDiv,
.adiImageDiv img,
.adiImageDiv * {
	transition-duration: 0 !important;
	transition: none !important;
}
.adiImageDiv.hide {
	left: -300px;
}
.backword {
	transform: rotate(0) rotateY(180deg);
}

.adiImageDiv .adiPic {
	position: absolute;
	left: auto;
	bottom: 0;
	height: 300px;
	display: block;
	background-size: cover;
	width: 140px;
}

img.shadow {
	rotate: 95deg;
	filter: brightness(0) blur(7px);
	opacity: 0.36;
	z-index: -1;
	width: 18%;
	left: 36% !important;
	top: 65%;
	height: 60% !important;
}

.laundry {
	position: absolute;
	top: 360vh;
	background-image: url(./bgImages/images2h/laundry.png);
	width: 100vw;
	height: 11.5vw;
	background-size: 100%;
	animation: laundryAnimation 3s ease-in-out infinite;
}
@keyframes laundryAnimation {
	0% {
		transform: skew(-6deg) rotateX(6deg);
	}
	45% {
		transform: skew(6deg) rotateX(-12deg);
	}

	100% {
		transform: skew(-6deg) rotateX(6deg);
	}
}
.board {
	z-index: 9;
}
.level1 {
	width: 100vw;
	left: 0;
	top: 0;
	height: 400vh;
	position: absolute;
}
.level2 {
	width: 360vw;
	left: 0;
	/* top: 400vh; */
	bottom: 0;
	height: 100vh;
	position: absolute;
	/* background: linear-gradient(
		0deg,
		rgba(255, 187, 240, 0.4) 0%,
		rgb(225 244 255 / 0%) 42%,
		rgb(221 246 255 / 0%) 100%
	); */
}
.level3 {
	width: 900vw;
	left: 360vw;
	bottom: 0;
	height: 100vh;
	position: absolute;
}
.level8 {
	position: absolute;

	height: 400vh;
	width: 100vw;
	bottom: 0;
	left: 700vw;
	z-index: 9;
}
.level9 {
	position: absolute;

	height: 100vh;
	width: 100vw;
	top: 100vh;
	left: 700vw;

	z-index: 9;
}
.button {
	cursor: pointer;
}
.contactLink {
	color: #555;
	background-color: #fed642;
	width: 40px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	left: 0;
}
.fixedButtonsDiv {
	position: fixed;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	z-index: 99999;
	left: 0;
}
.fixedButtonsDiv .contactLink,
.fixedButtonsDiv .menuButton {
	position: unset;
	cursor: pointer;
}
.fixedButtonsDiv .menuButton {
	width: 40px;
	height: 40px;
	border-radius: 0;
	box-shadow: none;
	border: none;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	padding: 11px 0;
	background-color: #fed642;
	padding: 12px 0;
}
.fixedButtonsDiv .menuButton .menuButtonLine {
	width: 60%;
	height: 2px;
	justify-content: space-evenly;
	display: flex;
}
.pdfLink path {
	stroke: #666;
}
.changingPicImg {
	line-height: 0;
}
.changingPicImg img {
	width: 100%;
}

@keyframes goDownAnimation {
	0% {
		left: 60%;
		bottom: 100px;
	}
	5% {
		bottom: 300px;
	}
	25% {
		transform: rotate(10deg);
		bottom: 20vh;
	}
	50% {
		transform: rotate(0deg);
		bottom: 20vh;
	}
	75% {
		transform: rotate(-12deg);
		bottom: 10vh;
	}
	90% {
		transform: rotate(-12deg);
		bottom: 80px;
	}

	100% {
		left: calc(45% - 182px);
		bottom: 10px;
	}
}

@keyframes adiIntro {
	0% {
		left: -300px;
	}

	100% {
		left: 50%;
	}
}

@keyframes fadingAnimation {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@media screen and (max-width: 1367px) {
	.text1Component {
		font-size: 34px;
	}
}
@media screen and (max-width: 1280px) {
	.adiImageDiv {
		height: 260px;
	}
	.adiImageDiv.notGoDown.walking {
		height: 276px;
	}
}

/* --------------------------------- Mobile --------------------------------- */
.mobile .level2 {
	width: 600vw;
	position: absolute;
	bottom: 0;
}
.mobile .level3 {
	left: 600vw;
}
.mobile .level2 .harTavor {
	left: 560vw;
}
.mobile .level8 {
	left: 1050vw;
}
.mobile .level9 {
	left: 1050vw;
}

@media screen and (max-width: 414px) {
	.adiImageDiv.goDownPic {
		animation: goDownAnimation2 2.8s linear;

		height: 420px;
		left: calc(45% - 150px);
		bottom: 10px;
		z-index: 9999;

		/* position: fixed; */
	}
	.adiImageDiv {
		height: 220px;
	}
	.adiImageDiv.notGoDown.walking {
		height: 240px;
	}
	.laundry {
		top: 336vh;
	}
	@keyframes goDownAnimation2 {
		0% {
			left: 40%;
			bottom: 100px;
		}
		5% {
			bottom: 300px;
		}
		25% {
			transform: rotate(10deg);
			bottom: 20vh;
		}
		50% {
			transform: rotate(0deg);
			bottom: 20vh;
		}
		75% {
			transform: rotate(-12deg);
			bottom: 10vh;
		}
		90% {
			transform: rotate(-12deg);
			bottom: 80px;
		}

		100% {
			left: calc(45% - 150px);
			bottom: 10px;
		}
	}

	.fixedButtonsDiv .menuButton {
		width: 30px;
		height: 30px;
		padding: 8px 0;
	}
	.contactLink {
		width: 30px;
		font-size: 18px;
	}
	.fixedButtonsDiv {
		gap: 8px;
	}
}
